<h1>Shops</h1>

<div class="map-container">
  <div id="shops">
    <ol>
      <% @shops.each do |shop| %>
        <li
          class="shop-item"
          data-latitude=<%= shop.latitude %>
          data-longitude=<%= shop.longitude %>
          data-color=<%= shop.category.color %>
          data-name=<%= shop.name %>
        >
          <h3><%= "#{shop.name} (#{shop.category.name})" %></h3>
          <h5><%= "#{shop.latitude} & #{shop.longitude}" %></h5>
        </li>
      <% end %>
    </ol>
  </div>
  <div id="map" style="width: 600px; height: 400px;"></div>
</div>

<%= javascript_pack_tag 'map' %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials[:google_map_api]}&callback=initMap",
    defer: true,
    async: true
%>
